In [94]:
# Import libraries and dependencies
import os
import pandas as pd
import alpaca_trade_api as tradeapi
import datetime

In [95]:
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

Python-dotenv could not parse statement starting at line 1

In [96]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [97]:
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [98]:
# Set timeframes for day, year, 3 year, 5 year
timeframe = "1D"

today_date = str(datetime.datetime.now()).split()[0]
one_year_ago = str(datetime.datetime.now() - datetime.timedelta(days=1*365)).split()[0]
three_year_ago = str(datetime.datetime.now() - datetime.timedelta(days=3*365)).split()[0]
five_year_ago = str(datetime.datetime.now() - datetime.timedelta(days=5*365)).split()[0]
today_date, one_year_ago, three_year_ago, five_year_ago

('2021-02-20', '2020-02-21', '2018-02-21', '2016-02-22')

In [99]:
# Set start and end datetimes of 5 years from Today
start_date = pd.Timestamp(three_year_ago, tz="America/New_York").isoformat()
end_date = pd.Timestamp(today_date, tz="America/New_York").isoformat()
start_date, end_date

('2018-02-21T00:00:00-05:00', '2021-02-20T00:00:00-05:00')

In [100]:
# Set tickers for Green Auto Portfolio
green_auto_tickers = ['TSLA', 'SBE', 'PLUG', 'F', 'GM', 'BLNK', 'QS', 'ALB', 'LLODE']

In [101]:
# Get 5 year's worth of historical data for Green Auto Portfolio
green_auto_df = api.get_barset(
    green_auto_tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

green_auto_df.head()

                              ALB                                   BLNK  \
                             open     high    low  close   volume   open
time
2020-09-28 04:00:00+00:00  86.465  87.4000  83.88  84.84  1209774   9.03
2020-09-29 04:00:00+00:00  84.950  87.6300  84.78  86.86  2076299   9.05
2020-09-30 04:00:00+00:00  87.410  90.1300  87.22  89.27  1874741  10.50
2020-10-01 04:00:00+00:00  90.000  90.9699  86.47  86.73  2056590  10.66
2020-10-02 04:00:00+00:00  85.440  91.0789  84.57  89.29  1783989   9.90

                                                           ...    SBE          \
                            high    low   close    volume  ...   open    high
time                                                       ...
2020-09-28 04:00:00+00:00   9.30   8.66   9.100   4774478  ...  15.21  16.450
2020-09-29 04:00:00+00:00  10.23   9.04   9.950   7115424  ...  15.75  15.795
2020-09-30 04:00:00+00:00  11.55   9.80  10.300  12635116  ...  15.54  16.240
2020-10-01 04:00:00+00:00  11.08  10.30  10.630   4841646  ...  16.00  16.100
2020-10-02 04:00:00+00:00  10.99   9.87  10.855   3588317  ...  14.45  15.380

                                                      TSLA                  \
                             low    close   volume    open    high     low
time
2020-09-28 04:00:00+00:00  15.20  15.5300  8739867  424.62  428.08  415.55
2020-09-29 04:00:00+00:00  14.80  15.1202  6735169  416.00  428.50  411.60
2020-09-30 04:00:00+00:00  15.05  15.6600  6701228  421.32  433.93  420.47
2020-10-01 04:00:00+00:00  15.21  15.2800  5030398  440.76  448.88  434.42
2020-10-02 04:00:00+00:00  14.36  15.3700  4866681  421.39  439.13  415.00


                              close    volume
time
2020-09-28 04:00:00+00:00  421.0602  46468845
2020-09-29 04:00:00+00:00  418.9900  47939292
2020-09-30 04:00:00+00:00  428.9700  45355318
2020-10-01 04:00:00+00:00  447.8100  46917693
2020-10-02 04:00:00+00:00  415.2699  64001779

[5 rows x 45 columns]

In [102]:
# Set tickers for Green Building Portfolio
green_building_tickers = ['TT', 'AVB', 'ROK', 'AYI', 'OSAGY', 'HUBB', 'SBGSY', 'AMRC']

In [103]:
# Get 5 year's worth of historical data for Green Building Portfolio
green_building_df = api.get_barset(
    green_building_tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

green_building_df.head()

                            AMRC                                   AVB  \
                            open    high    low  close  volume    open
time
2020-09-28 04:00:00+00:00  32.05  32.810  31.84  32.70  197505  150.37
2020-09-29 04:00:00+00:00  32.65  33.710  32.50  33.47  292062  149.34
2020-09-30 04:00:00+00:00  33.53  34.095  32.75  33.41  402607  148.65
2020-10-01 04:00:00+00:00  33.82  33.930  33.00  33.51  306401  149.72
2020-10-02 04:00:00+00:00  32.54  34.170  32.42  33.67  332688  153.32

                                                            ... SBGSY       \
                             high     low   close   volume  ...  open high
time                                                        ...
2020-09-28 04:00:00+00:00  152.82  149.58  151.49   680542  ...   NaN  NaN
2020-09-29 04:00:00+00:00  150.78  146.44  147.39  1467328  ...   NaN  NaN
2020-09-30 04:00:00+00:00  150.48  147.31  149.34  1655103  ...   NaN  NaN
2020-10-01 04:00:00+00:00  155.63  149.61  155.60  1682539  ...   NaN  NaN
2020-10-02 04:00:00+00:00  159.02  151.59  158.07  2058823  ...   NaN  NaN

                                                 TT                            \
                           low close volume    open    high       low   close
time
2020-09-28 04:00:00+00:00  NaN   NaN    NaN  120.97  122.85  120.1900  121.58
2020-09-29 04:00:00+00:00  NaN   NaN    NaN  121.76  122.38  120.8600  121.20
2020-09-30 04:00:00+00:00  NaN   NaN    NaN  121.76  123.45  120.3602  121.26
2020-10-01 04:00:00+00:00  NaN   NaN    NaN  123.06  123.50  121.2700  121.93
2020-10-02 04:00:00+00:00  NaN   NaN    NaN  120.74  124.92  120.0800  123.86


                            volume
time
2020-09-28 04:00:00+00:00  1179423
2020-09-29 04:00:00+00:00  1016384
2020-09-30 04:00:00+00:00  1164579
2020-10-01 04:00:00+00:00  1601387
2020-10-02 04:00:00+00:00  1654962

[5 rows x 40 columns]

In [104]:
# Set tickers for Green Energy Portfolio
green_energy_tickers = ['REGI', 'LNG', 'RUN', 'DQ', 'TPIC', 'NEE', 'AGR', 'ETN', 'ORA', 'DNNGY']

In [105]:
# Get 5 year's worth of historical data for Green Energy Portfolio
green_energy_df = api.get_barset(
    green_energy_tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

green_energy_df.head()

                             AGR                                  DNNGY       \
                            open   high     low  close     volume  open high
time
2020-09-25 04:00:00+00:00    NaN    NaN     NaN    NaN        NaN   NaN  NaN
2020-09-28 04:00:00+00:00  49.62  49.81  49.200  49.34   397883.0   NaN  NaN
2020-09-29 04:00:00+00:00  49.42  49.85  48.970  49.24   784337.0   NaN  NaN
2020-09-30 04:00:00+00:00  49.54  50.70  49.445  50.45  1476275.0   NaN  NaN
2020-10-01 04:00:00+00:00  50.61  51.69  50.370  51.21  1022061.0   NaN  NaN

                                             ...     RUN                  \
                           low close volume  ...    open     high    low
time                                         ...
2020-09-25 04:00:00+00:00  NaN   NaN    NaN  ...     NaN      NaN    NaN
2020-09-28 04:00:00+00:00  NaN   NaN    NaN  ...  67.890  72.2000  66.78
2020-09-29 04:00:00+00:00  NaN   NaN    NaN  ...  72.890  75.2704  71.36
2020-09-30 04:00:00+00:00  NaN   NaN    NaN  ...  71.550  78.2199  70.53
2020-10-01 04:00:00+00:00  NaN   NaN    NaN  ...  79.415  82.4200  77.77

                                               TPIC                          \
                           close      volume   open    high      low  close
time
2020-09-25 04:00:00+00:00    NaN         NaN  25.58  26.900  25.0200  26.53
2020-09-28 04:00:00+00:00  71.97   5450839.0  27.07  28.035  27.0101  27.76
2020-09-29 04:00:00+00:00  72.80   5547806.0  27.78  28.380  27.7300  28.10
2020-09-30 04:00:00+00:00  77.07   7597852.0  28.38  29.410  28.2200  28.96
2020-10-01 04:00:00+00:00  80.01  10858707.0  29.30  30.360  29.1050  29.67


                             volume
time
2020-09-25 04:00:00+00:00  486061.0
2020-09-28 04:00:00+00:00  254330.0
2020-09-29 04:00:00+00:00  302221.0
2020-09-30 04:00:00+00:00  354963.0
2020-10-01 04:00:00+00:00  521065.0

[5 rows x 50 columns]

In [106]:
# Set tickers for Green Energy Portfolio
green_agriculture_tickers = ['TRMB', 'RDSMY', 'A', 'MOWI', 'CWCO', 'XYL']

In [107]:
# Get 5 year's worth of historical data for Green Agriculture Portfolio
green_agriculture_df = api.get_barset(
    green_agriculture_tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

green_agriculture_df.head()

                                A                                       CWCO  \
                             open     high       low   close   volume   open
time
2020-09-28 04:00:00+00:00   98.64   99.730   98.1200   99.55   788609  10.79
2020-09-29 04:00:00+00:00   99.79  101.330   99.5900  100.21  1061102  10.73
2020-09-30 04:00:00+00:00  100.54  101.890  100.3100  100.89  1615853  10.58
2020-10-01 04:00:00+00:00  101.77  102.410  100.5400  101.22   975690  10.41
2020-10-02 04:00:00+00:00  100.21  101.275   99.8127  100.01  1021298  10.14

                                                         ...   TRMB         \
                             high     low  close volume  ...   open   high
time                                                     ...
2020-09-28 04:00:00+00:00  10.977  10.655  10.73  67754  ...  48.80  49.19
2020-09-29 04:00:00+00:00  10.830  10.500  10.57  58117  ...  48.62  49.21
2020-09-30 04:00:00+00:00  10.660  10.330  10.43  36956  ...  49.00  49.85
2020-10-01 04:00:00+00:00  10.560  10.130  10.33  65494  ...  48.76  49.68
2020-10-02 04:00:00+00:00  10.600  10.140  10.49  36770  ...  47.97  49.62

                                                   XYL                  \
                             low  close  volume   open   high      low
time
2020-09-28 04:00:00+00:00  48.55  48.67  731353  84.21  84.97  83.6600
2020-09-29 04:00:00+00:00  48.22  48.95  805654  84.39  84.39  83.3000
2020-09-30 04:00:00+00:00  48.49  48.65  824215  83.88  85.16  83.4200
2020-10-01 04:00:00+00:00  48.63  48.87  733584  84.50  84.98  81.9092
2020-10-02 04:00:00+00:00  47.51  49.31  474327  80.95  85.02  80.9500


                            close   volume
time
2020-09-28 04:00:00+00:00  83.870   508968
2020-09-29 04:00:00+00:00  83.760  1266668
2020-09-30 04:00:00+00:00  84.130  1184015
2020-10-01 04:00:00+00:00  82.555  1130774
2020-10-02 04:00:00+00:00  84.370   954568

[5 rows x 30 columns]